@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

ul.desktop {
    li {
        position: relative;
        margin-left: .5rem;
        padding-bottom: .5rem !important;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: rgb(2, 175, 255);
            transition: all 400ms;
        }

        &:hover::before {
            width: 100%;
        }
    }
}
.heroSection:last-child{
    width: 50%;
}